@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: "Inter", sans-serif;
	font-size: 14px;
}
h1{
 font-family: "Bricolage Grotesque", serif;
}

@layer base {
	:root {
		--primary: 212 56% 24%;
		--primary-foreground: 212 53% 47%;
		--background: 0 0% 100%;
		--foreground: 0 0% 3.9%;
	}
	.dark {
		--background: 0 0% 3.9%;
		--foreground: 0 0% 98%;
	}
}
